@media screen and (max-width: 700px) {
  .carousel img:hover {
    transform: translateY(0) !important;
  }
  .latest-release{
    top: 20vw;
  }
}
@media screen and (max-width: 980px) {
  .carousel img:nth-child(1) {
  	left: 5vw;
  }
  .carousel img:nth-child(3) {
  	right: 5vw;
  }
}
@media screen and (min-width: 980px) {
  .carousel img:nth-child(1) {
  	left: 1vw;
  }
  .carousel img:nth-child(3) {
  	right: 1vw;
  }
}
@media screen and (max-width: 980px) {
  .favorites span, .notification span{
    display: none;
    /* visibility: hidden; */
  }
  .section-1{
    width: 100%;
  }
  label[for="more"]{
    display: block;
  }
  /* hidden section 2 by default */
	.section-2 {
		visibility: hidden;
		opacity: 0;
		width: 300px;
		height: 66vh;
		background-color: #002933;
    color: white;
		box-shadow: 0px 0px 2px 1px white;
    position: absolute;
    right: 0px;
		top: 14%;
		z-index: 5;
		overflow: scroll;
		padding-left:10px;
		transition: visibility ease-in-out 0.2s;
		transition: opacity ease-in-out 0.2s;
	}
	.playlist-content {
		overflow: visible;
	}
	/* more button */
	input[id="more"]:hover ~ .section-2, .section-2:hover {
		visibility: visible;
		opacity: 1;
	}
}
@media screen and (min-width: 980px){
  label[for="more"]{
    display: none;
  }
  #more{
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .active-song-description{
    width: 50%;
  }
  .player{
    width: 50%;
  }
  .extras{
    display: none;
  }
}
