root{
  --background-color: #dbf3fa;
  --dark-color: #0f52ba;
  /* var(--dark-color, #0f52ba); */
}
body{
  /* background-color:  #00b8e6; */
  background-color: var(--background-color, #dbf3fa);
  color: black;
  margin: 0px;
	font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
}

a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* removing margin for all the textual elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
  /* color: black; */
}

/* top navigation bar */
/* ______________________________________________________________________ */
.navigation-bar{
  height: 60px;
	width: auto;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
	align-items: center;
  box-sizing: border-box;
  padding: 10px 10px;
  transition: all ease-in-out 1s;
  background-color: var(--dark-color, #0f52ba);
  color: white;
  border-bottom: 1px solid white;
}
.navigation-bar > div{
  display: inline-block;
}
.title-combo > div{
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
}
.logo{
  /* background-color: red; */
}
.logo img{
  height: 5vw;
  max-height: 50px;
  width: 5vw;
  max-width: 50px;
  border-radius: 50%;
}
.favorites{
  padding: 2px;
}
.search-bar {
  width: 40%;
  /* background-color: white;
  border-radius: 10px; */
  position: relative;
}
.search-bar i{
  color: black;
  padding: 2px;
}
.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
	font-weight: 500;
	text-align: center;
	transition: all ease-in-out 0.1s;
}
.search-bar input:focus{
  outline: none;
}
.search-lens{
  display: inline-block;
	position: absolute;
	width: min-content;
	left: 5%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}
.search-mic{
  display: inline-block;
	position: absolute;
	width: min-content;
	right: 5%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}
.notification{
  padding: 2px;
}
.user-profile img{
  height: 5vw;
  max-height: 50px;
  width: 5vw;
  max-width: 50px;
  border-radius: 50%;
  line-height: 100%;
  vertical-align: middle;
}
/* navigation bar is completed here */

/* ________________________________________________________ */
main{
  width: 100%;
  height: calc(100vh - 140px);
  margin-top: 10px;
  margin-bottom: 70px;
}
/* ______________________________________________________________________ */
.aside{
  display: inline-block;
  overflow-x: hidden;
  overflow: hidden;
}
.section-1::-webkit-scrollbar{
  display: none;
}
.section-1{
  width: 70%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.section-2::-webkit-scrollbar{
  display: none;
}
.section-2{
  width: 25%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/* ______________________________________________________________________ */
.carousel-outer {
	position: relative;
	margin: 10px;
  overflow: hidden;
  height: 15vw;
  min-height: 120px;
	transition: all ease-in-out 1s;
}
.carousel {
	position: absolute;
	left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: row;
	overflow: visible;
	justify-content: space-around;
}
.carousel img{
  width: 21vw;
  min-width: 168px;
  height: 12vw;
  min-height: 96px;
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
.carousel img:nth-child(1) {
	position: relative;
	z-index: 2;
}
/* image which is in the maddle of the carousel */
.carousel img:nth-child(2) {
	z-index: 3;
}
/* third image in the carousel */
/* if you see it direction wise, then it is the first image in the carousel */
.carousel img:nth-child(3) {
	position: relative;
	z-index: 1;
}

/* animations for carousel */

.carousel img:hover {
	z-index: 4;
	box-shadow: 0px 0px 12px 0.1px black;
	width: 25vw;
  min-width: 189px;
  height: 15vw;
  min-height: 108;
  transform: translateY(-1.5vw);
}

/* ______________________________________________________________________ */
/* latest release */

.latest-release {
	position: relative;
  /* margin-top: 10px; */
	/* top: 15vw; */
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
/* container of the latest release part should be of type flex */
.latest-release-content {
  height: 30vh;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.latest-release-content::-webkit-scrollbar{
  display: none;
}
/* all the components of the latest release part */
/* card is the general class for the components of the latest release part */
.card {
  height: 100px;
	width: 40%;
  min-width: 300px;
	margin: 5px 10px;
	display: flex;
	flex-direction: row;
	transition: box-shadow ease-in-out 0.1s;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  /* position: relative; */
}
/* hovering effects for the latest release part components */
.card:hover {
  background-color: var(--dark-color, #0f52ba);
  color: white;
}
/* images in the cards of the latest release section */
.card img {
	width: 100px;
	height: 100px;
	z-index: 1;
  box-sizing: border-box;
  border-radius: 10px;
}
/* this is the play button which will be visible only on hover */
.card .play-button {
	width: 100%;
	height: 100%;
	position: relative;
	top: -105%;
	/* note that its opacity will be 0 normally */
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	z-index: 5;
	transition: all ease-in-out 0.1s;
  border-radius: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}
/* actual play icon from font awesome */
.card .play-button i {
  /* position: absolute;
  top: 10%;
  bottom: 10%; */
  padding-top: 45%;
}
/* hovering effect for the play button */
.card .play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}
/* description of the song in the card, which will contain the song nae and author */
.song-description {
	margin: auto 10%;
}
/* properties for release date and name of the song */
.song-description p:nth-child(2n + 1) {
	width: 100%;
  /* overflow-x: hidden; */
	word-wrap: break-word;
  font-weight: 600;
}
.song-description p:nth-child(2n) {
	font-size: 12px;
	font-weight: lighter;
}
/* options is the class for the 3 dots which needs to be clicked to trigger the latest release drop down menu */
.options {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	text-align: right;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}
/* this input is for the latest release drop down */
input[type="checkbox"] {
	display: none;
}
/* this is for the latest release drop down menu */
.latest-release-dropdown {
	position: absolute;
	background-color: var(--dark-color, #0f52ba);
  color: White;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	opacity: 0;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid white;
	/* box-shadow: 0px 0px 2px 1px black; */
	transition: all ease-in-out 0.3s;
}
/* icon in the latest release drop down */
.fa-ellipsis-h {
	cursor: pointer;
}
/* checking it, will trigger the latest release dropdown */
input[type="checkbox"]:hover ~ .latest-release-dropdown, .latest-release-dropdown:hover {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}

/* .latest-release-dropdown:hover {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
} */
/* options in the lastest release drop down */
.drop-item p {
	text-align: center;
}

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* popular artists */
.popular-artists {
  position: relative;
	/* top: 18vw; */
  margin-top: 10px;
	height: auto;
	box-sizing: border-box;
}
/* content of the container in popular artists section */
.popular-artists > div {
	margin: 5px;
	text-align: center;
}
/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow-x: scroll;
}
.popular-artist-content::-webkit-scrollbar{
  display: none;
}

.popular-artist-content > a{
  color: white;
	margin: 5px 0px;
  padding: 0px 10px;
}
.artist-card {
  position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
/* images in the popular artists section */
.artist-card img{
  width: 10vw;
	min-width: 100px;
	min-height: 100px;
	height: 10vw;
	border-radius: 50%;
  border: 2px solid white;
}
/* this section is for play button which is not visible until hover on artist image */
.artist-card .play-button {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  min-width: 100px;
  height: 10vw;
  min-height: 100px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
  border: 2px solid white;
  /* box-shadow: 0px 0px 2px 1px white; */
}
.artist-card .play-button i{
  margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-name{
  width: 10vw;
	min-width: 100px;
  color: black;
}
.artist-card .play-button:hover {
	opacity: 0.6;
}
.artist-card .play-button:hover i{
	opacity: 1;
}


/* ______________________________________________________________________ */
/* ______________________________________________________________________ */
/* music themes*/
.music-themes {
	position: relative;
	/* top: 20vw; */
	height: auto;
	width: 96%;
  margin-right: 2%;
  margin-left: 2%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
  overflow-x: scroll;
  border: 5px solid #0f52ba;
  border-radius: 10px;
  /* background-color: white; */
}
.music-themes::-webkit-scrollbar {
  display: none;
}
/* this outer div contains the inner div and the image and text */
.outer-div {
	width: 15vw;
	height: 15vw;
	overflow: hidden;
	min-width: 100px;
	min-height: 100px;
	margin: 5px;
	cursor: pointer;
}
/* inner div portion */
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
/* divs corresponding to each of the 3 sub sections in the themes section */
/* party */
.music-themes .outer-div:nth-child(1) .inner-div {
	background-image: url("Assets\\music_themes\\party.jpg");
}
/* electronic */
.music-themes .outer-div:nth-child(2) .inner-div {
	background-image: url("Assets\\music_themes\\gym.jpg");
}
/* road */
.music-themes .outer-div:nth-child(3) .inner-div {
	background-image: url("Assets\\music_themes\\travel.jpg");
}
/* road */
.music-themes .outer-div:nth-child(4) .inner-div {
	background-image: url("Assets\\music_themes\\meditation.jpg");
}
/* hovering actions: the text should be scaled down on hover and the background image should be scaled up at the same time gap */
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}
.outer-div .inner-div span {
	color: white;
	font-size:calc(10px + 1.5vw);
}

/* ______________________________________________________________________ */
/* language wise */
/* language sections */
.language {
	position: relative;
  margin-top: 10px;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
.lang{
  margin-top: 10px;
  margin-bottom: 10px;
}
.hindi{

}
.english{

}
/* language content container */
.language-content {
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
	align-items: baseline;
  height: auto;
  overflow-x: scroll;
}
.language-content::-webkit-scrollbar{
  display: none;
}
/* items in language content */
.lang-card {
  position: relative;
  width: auto;
	min-width: 100px;
	height: auto;
	margin: 0vw 2vw;
}
/* image in language content */
.language-content div img {
	width: 10vw;
	min-width: 100px;
	height: 10vw;
	min-height: 100px;
	/* transition: box-shadow ease-in-out 0.1s; */
  border: 2px solid white;
  border-radius: 10px;
}
.lang-description{
  width: 10vw;
	min-width: 100px;
}
/* properties for release date and name of the song */
.lang-p1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lang-p2 {
	font-size: 12px;
	font-weight: lighter;
}

/* .language-content > div > div { */
.lang-hover{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  min-width: 100px;
  height: 10vw;
  min-height: 100px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
  border: 2px solid white;
}
/* .language-content > div > div > i{ */
.lang-hover i{
  color: white;
  margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
}
/* added hovering effects - play button will be visble when hovered on artist image */
/* .language-content div div:hover { */
.lang-hover:hover{
	opacity: 0.6;
}
/* .language-content div div:hover i { */
.lang-hover:hover i{
	opacity: 1;
}
/* .language-content div p { */
.lang-description p{
	text-align: center;
  font-weight: bold;
}

/* _______________________________________________________________ */
/* _______________________________________________________________ */
/* section 2 starts here */
/* more button */
label[for="more"] {
	/* display: none; */
	position: absolute;
	right: 0%;
	top: 10%;
	z-index: 4;
	font-size: 30px;
  color: black;
}
/* when the checkbox corresponding to the "more" button is checked, then the section becomes visible */
/* but at a normal resolution, its display will be none */
label[for="more"]:checked ~ input {
	/* display: none; */
}

/* ASIDE SECTION 2 */
.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}

/* playlist content */
.playlist-content {
	width: 100%;
	height: 79vh;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	cursor: pointer;
}
/* playlist content container scroll bar */
.playlist-content::-webkit-scrollbar {
	display: none;
}
/* class for a partilcular item in playlist */
.playlist-item {
	width: 98%;
	height: auto;
	padding: 0px 1%;
	box-sizing: border-box;
	margin: 1%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
	/* transition: all ease-in-out 0.1s; */
}
/* left content contains the image, index and name of the song */
.left-content {
	display: flex;
	height: 100%;
	width: 70%;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
}
.left-content > div:nth-child(3) {
	margin-left: 12px;
	width: 50%;
	word-wrap: break-word;
}
/* this will cover the playlist image. this can be called as a container for half of the items in the left part */
.coverer {
	width: 80px;
	height: 80px;
  position: relative;
}
/* playlist item image */
.playlist-item img {
	width: 80px;
	height: 80px;
  border-radius: 10px;
}
.playlist-item .play-button{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
	height: 80px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
}
.playlist-item .play-button i{
  color: white;
  margin: auto;
	font-size: 2vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
}
.playlist-item .play-button:hover{
	opacity: 0.6;
}
.playlist-item .play-button:hover i{
	opacity: 1;
}
/* right content contains the heart icon */
.right-content {
	position: relative;
	bottom: 62%;
	left: 86%;
	width: min-content;
	height: 20px;
	color: white;
	font-size: 25px;
}
.right-content i {
	transition: all ease-in-out 0.1s;
  color: black;
  font-weight: bold;
}
.right-content i:hover {
	color: white;
}
/* animation for glowing heart in each of the playlist items */
@keyframes glowing-heart {
	0% {
		color: yellow;
	}
	50% {
		color: orangered;
	}
	100% {
		color: red;
	}
}
/* hover effect on heart */
.playlist-item:hover .fa-heart {
	animation-name: glowing-heart;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
}
/* playlist items hovering effect */
.playlist-item:hover {
	box-shadow: 0px 0px 2px 1px white;
  color: white;
  background-color: var(--dark-color, #0f52ba);
}


/* _____________________________________________________________ */
/* _____________________________________________________________ */
/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
	position: absolute;
	bottom: 0;
  left: 0;
	width: 100%;
	height: 60px;
	background-color: var(--dark-color, #0f52ba);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
  border-top: 1px solid white;
  color: white;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer : active song description*/
.active-song-description {
	border-right: 4px solid white;
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	align-items: center;
  position: relative;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
  border: 1px solid white;
	/* min-width: 50px;
	min-height: 50px; */
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* song decscription */
.song-desc {
  margin-left: 10px;
  /* width: 50%; */
  /* border: 1px solid white; */
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}
/* heart and dislike icon */
.heart-and-dislike-icon {
  position: absolute;
  width: 50px;
  right: 5px;
	height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


/* 2. Second part of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.time {
	margin: 0px 10px;
}
/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}
/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
  border-left: 4px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
